@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

body{
    padding: 0;
    margin: 0;
    font-family: 'Kalam', cursive;
    background-image: url("./assets/background\ img.jpg");
    width: 100%;
    height: 100vh;
}

/* main page */
#mainPage{
    background-image: url("./assets/Group\ 14.png");
    width: 100%;
    height: 100vh;
}
/*  */
#modal{
    position: absolute;
    top:0;
    left: 19vh;
    width: 120vh;
    height: 75vh;
    color: white;
    background-image: url('./assets/ingredients\ bg.png');   
    display: none;
    overflow: auto;
}

#closeBtn{
    cursor: pointer;
    margin: 1.5vh 2vh 0vh;
}

h6{
    text-align: center;
    color: white;
    font-size: 25px; 
}

#list{
    padding-left: 45vh;
}

/*  */
h4{
    color: white;
    width: 65vh;
    border: 1px solid white;
    font-size: 32px;
    position: absolute;
    top: 15vh;
    left: 38vh;
}

p{
    color: white;
    width: 76vh;
    border: 1px solid white;
    font-size: 21px;
    position: absolute;
    top: 31vh;
    left: 38vh; 
}

#mainPageImg{
    width: 58vh;
    height: 69vh;
    margin-left: 135vh ;
    margin-top: 22vh;
    box-shadow: 2px 2px 3px black;
    border-radius: 3px;
}


#exploreButton{
    width: 27vh;
    height: 8vh;
    left: 38vh;
    top: 81vh;
    font-family: 'Kalam', cursive;
    position: absolute;
    font-size: 24px;
    background-color: #ECC203;
    color: white;
    border: 0px;
    box-shadow: 1px 1px 7px black;
    border-radius: 10px;
    transition: 0.5s ease;
}

#exploreButton:hover{
    scale: 1.1;
}

#logo{
    position: absolute;
    left: 1vh;
    top: -5vh;
    width: 30vh;
    height: 30vh;
    border: 1px solid white;
}

#search{
    width: 50vh;
    height: 5vh;
    position: absolute;
    left: 89vh;
    top: 6vh;
    border-radius: 3px;
    border: 0px;
    font-size: 15px;
    text-align: center;
    box-shadow: 3px 3px 5px black;
    outline: none;
    background-color: white;
}

#dishes-section{
    width: 100%;
    height: 160vh; 
}

h2{
    border: 1px solid white;
    color: #d9dddf;
    font-size: 35px;
    text-align: center;
}

#middlContent{
    width: 160vh;
    height: 60vh;
    position: absolute;
    left: 32vh;
    top: 120vh;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 2px 2px 5px black;
}

.randomMeal{
    width: 64vh;
    height: 60vh;
    border-radius: 5px 0px 0px 5px;
}

h1{
    position: absolute;
    width: 70vh;
    height: 20vh;
    left: 71vh;
    bottom: 30vh;
    line-height: 8vh;
    font-size: 36px;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(207, 35, 35);
}

#ingredients{
    width: 23vh;
    height: 6vh;
    top: 47vh;
    left: 73vh;
    position: absolute;
    font-size: 24px;
    background-color: #102331;
    color: white;
    border: 0px;
    box-shadow: 1px 1px 7px rgb(32, 32, 32);
    border-radius: 10px;
    font-family: 'Kalam', cursive;
    transition: 0.5s ease;
}

#ingredients:hover{
    scale: 1.1;
}

h5{
    border: 1px solid white;
    color: #d9dddf;
    font-size: 35px;
    margin-top: 97vh;
    text-align: center;
}

#searchedCategory{
    border: 1px solid rgb(207, 35, 35);
    width: 100%;
    height: 70vh;
    position: absolute;
    top:220vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.dishes{
    border: 1px solid white;
    background-image: url("./assets/dishes\ background.jpeg");
    width: 45vh;
    height: 37vh;
    margin-top: 20vh;
    border-radius: 5px;
    transition: 0.5s ease;
}

.dishes:hover{
    scale: 1.1;
}

.dishImage{
    width: 38vh;
    height: 30vh;
    margin: -4vh 3.5vh ;
    border-radius: 5px;
}

h3{
    text-align: center;
    padding-top: 2.5vh;
    color: white;
}



    
/* responsiveness */
@media only screen and  (max-width: 900px){

    h4{
        width: 79vh;
        font-size: 70px;
        top: 90vh;
        left: 32vh;
    }

    p{
        width: 82vh;
        font-size: 50px;
        top: 120vh;
        left: 30.5vh;
        text-align: center; 
    }

    #mainPageImg{
        width: 120vh;
        height: 160vh;
        margin-left: 12vh ;
        margin-top: 86vh;
    }


    #exploreButton{
        width: 30vh;
        height: 10vh;
        left: 55vh;
        top: 225vh;
        font-size: 40px;
    }

    #logo{
        top: 1vh;
        width: 40vh;
        height: 40vh;
    }

    #search{
        width: 87vh;
        height: 10vh;
        left: 27vh;
        top: 52vh;
        font-size: 50px;
    }

    h2{
        border: 1px solid white;
        color: #d9dddf;
        font-size: 35px;
        text-align: center;
    }

    #middlContent{
        width: 40vh;
        height: 30vh;
        position: absolute;
        left: 2vh;
        top: 120vh;
        border-radius: 5px;
        background-color: #ffffff;
        box-shadow: 2px 2px 5px black;
    }

    .randomMeal{
        width: 10vh;
        height: 30vh;
        border-radius: 5px 0px 0px 5px;
    }

    h1{
        position: absolute;
        width: 70vh;
        height: 20vh;
        left: 71vh;
        bottom: 30vh;
        line-height: 6vh;
        font-size: 40px;
        color: rgb(0, 0, 0);
        border: 1px solid rgb(207, 35, 35);
    }

    #modal{
        position: absolute;
        top:0;
        left: 19vh;
        width: 120vh;
        height: 75vh;
        color: white;
        background-image: url('./assets/ingredients\ bg.png');   
        display: none;
        overflow: auto;
    }
    
    #closeBtn{
        cursor: pointer;
        margin: 1.5vh 2vh 0vh;
    }
    
    h6{
        text-align: center;
        color: white;
        font-size: 25px; 
    }
    
    #list{
        padding-left: 45vh;
    }
    
    #ingredients{
        width: 20vh;
        height: 6vh;
        top: 47vh;
        left: 100vh;
        position: absolute;
        font-size: 24px;
        background-color: #102331;
        color: white;
        border: 0px;
        box-shadow: 1px 1px 7px rgb(32, 32, 32);
        border-radius: 10px;
        font-family: 'Kalam', cursive;
        transition: 0.5s ease;
    }

    #ingredients:hover{
        scale: 1.1;
    }

    h5{
        border: 1px solid white;
        color: #d9dddf;
        font-size: 35px;
        margin-top: 77vh;
        text-align: center;
    }

    #searchedCategory{
        border: 1px solid rgb(207, 35, 35);
        width: 100%;
        height: 70vh;
        position: absolute;
        top:190vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .dishes{
        border: 1px solid white;
        background-image: url("./assets/dishes\ background.jpeg");
        width: 45vh;
        height: 37vh;
        margin-top: 20vh;
        border-radius: 5px;
        transition: 0.5s ease;
    }

    .dishes:hover{
        scale: 1.1;
    }

    .dishImage{
        width: 38vh;
        height: 30vh;
        margin: -4vh 3.5vh ;
        border-radius: 5px;
    }

    h3{
        text-align: center;
        padding-top: 2.5vh;
        color: white;
    }

}
